In [6]:
for row in range(4):
    for col in range(7):
        if row==col or row+col==6:
            print("*",end="")
        else:
            print("",end=" ")
    print()

*     *
 *   *
  * *
   *

In [12]:
i=0
j=3
for row in range(4):
    for col in range(7):
        if (col==0 or col==6 ) or (row==1 and col==4) or (col==5 and row==2):
            print("*",end="")
        elif row==i and col==j:
            print("*",end="")
            i=i+1
            j=j-1
        else:
            print("",end=" ")
    print()

*  *  *
* * * *
**   **
*     *

In [21]:
#Print W
i=0
j=4
for row in range(5):
    for col in range(5):
        if row==i and col==j:
            print("*",end="")
            i=i+1
            j=j-1
        elif row==col:
            print("*",end="")
            
        else:
            print("",end=" ")
    print()

*   *
 * *
  *
 * *
*   *

In [27]:
#Print Y
for row in range(5):
    for col in range(5):
        if (row==col and col<3) or (row==0 and col==4) or (row==1 and col==3) or (col==2 and row>1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

*       *
  *   *
    *
    *
    *

In [41]:
#Print Z
i=1
j=4
for row in range(0,6):
    for col in range(0,6):
        if row==0 or row==5:
            print("*",end=" ")
        elif row==i and col==j:
            print("*",end=" ")
            i=i+1
            j=j-1
        else:
            print(" ",end=" ")
    print()

* * * * * *
        *
      *
    *
  *
* * * * * *

In [47]:
n=5
num= 1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(num,end=" ")
        num=num+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [57]:
string=input("enter The String:")
length=len(string)
for i in range(length):
    for j in range(i+1):
        print (string[j],end=" ")
    print()

enter The String: Python

P
P y
P y t
P y t h
P y t h o
P y t h o n

In [61]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [62]:
n=5
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [66]:
n=5
num=1
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(num,end=" ")
        num=num+1
    print()

1 2 3 4 5
6 7 8 9
10 11 12
13 14
15