In [20]:
num=int(input("Enter number of Rows:"))
for i in range(0,num):
    for j in range(0,i+1):
         print("*",end=" ")
    print()

Enter number of Rows: 5

*
* *
* * *
* * * *
* * * * *

In [21]:
#write a output of the following
for i in "MYBLOG":
    print(i,"?")

M ?
Y ?
B ?
L ?
O ?
G ?

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [23]:
for i in range(10,15):
    print(i)

10
11
12
13
14

In [24]:
#write a program to print first 10 natural numbers
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
#WRITE A PROGRAM TO PRINT first 10 Even numbers
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [28]:
#write a program to print 1st 10 odd numbers
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [29]:
#WRITE A PROGRAM TO PRINT FIRST 10 EVEN NUMBERS IN REVERSE ORDER
for i in range(20,1,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [72]:
l=[]
for i in range(2,21,2):
    l.append(i)
print(l[::-1],end=" ")

[20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [10]:
for i in range(1,100):
    if i >1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [21]:
num=int(input("Enter any number:"))
f=0
if num==1 or num==0:
    f=1
for i in range(2,num):
    if num%i==0:
        f=1
if f==1:
    print("Number is not prime number")
else:
    print("Number is prime number")

Enter any number: 1

Number is not prime number