In [1]:
my_list=['apple','banana','cherry']

for index,value in enumerate(my_list):
    print(index,value)

0 apple
1 banana
2 cherry

In [3]:
my_list=['apple','banana','cherry']

for index,value in enumerate(my_list,start=1):
    print(index,value)

1 apple
2 banana
3 cherry

In [4]:
my_list = ['apple', 'banana', 'cherry']

for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

In [7]:
my_list=[10,20,30,40]

for index,value in enumerate(my_list):
    my_list[index]=value*2

print(my_list)

[20, 40, 60, 80]

In [9]:
my_list=[('a',1),('b',2),('c',3)]

for index,(letter,number) in enumerate(my_list):
    print(f"index: {index},Letter: {letter}, Number: {number}")

index: 0,Letter: a, Number: 1
index: 1,Letter: b, Number: 2
index: 2,Letter: c, Number: 3

In [11]:
my_list = ['apple', 'banana', 'cherry', 'date'] 

for index,value in enumerate(my_list):
    if value=='cherry':
        print(f" Index of 'cherry': {index}")
        break

 Index of 'cherry': 2

In [12]:
my_list = ['apple', 'banana', 'cherry']

enumerated_list = list(enumerate(my_list))
print(enumerated_list)

[(0, 'apple'), (1, 'banana'), (2, 'cherry')]

In [13]:
my_list = [5, 8, 2, 10, 3]

# Find and print elements greater than 5 with their index
for index, value in enumerate(my_list):
    if value > 5:
        print(f"Index: {index}, Value: {value}")

Index: 1, Value: 8
Index: 3, Value: 10

In [15]:
my_list = ['apple', 'banana', 'cherry']

result=[(index,value) for index,value in enumerate(my_list) if value.startswith('b')]
print(result)

[(1, 'banana')]

In [16]:
my_string='hello'
my_list=list(my_string)
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [28]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
my_list = list(my_dict)
print(my_list)

['a', 'b', 'c']

In [29]:
my_range = range(5)
my_list = list(my_range)
print(my_list)

[0, 1, 2, 3, 4]

In [30]:
nested_list=[[1,2],[3,4],[5,6]]
flat_list=list(sum(nested_list,[]))
print(flat_list)

[1, 2, 3, 4, 5, 6]

In [31]:
my_gen = (x * x for x in range(5))
my_list = list(my_gen)
print(my_list)

[0, 1, 4, 9, 16]