In [2]:
my_list=[10,20,30,40]
total=sum(my_list)
print(total)

100

In [3]:
my_list = [10, 20, 30]
total = sum(my_list, 10)  # Start the sum with an initial value of 10
print(total)

70

In [4]:
my_list = [-5, -10, -15]
total = sum(my_list)
print(total)

-30

In [5]:
my_list = []
total = sum(my_list)
print(total)

0

In [6]:
my_list = [1.5, 2.5, 3.0]
total = sum(my_list)
print(total)

7.0

In [7]:
my_list = [10, 5.5, 20, 4.5]
total = sum(my_list)
print(total)

40.0

In [8]:
my_list = [[1, 2], [3, 4], [5, 6]]
total = sum([sum(sublist) for sublist in my_list])
print(total)

21

In [11]:
my_list = [{'value': 10}, {'value': 20}, {'value': 30}]
total = sum(item['value'] for item in my_list)
print(total)

60

In [10]:
my_list = [True, False, True, True]
total = sum(my_list)
print(total)

3