In [91]:
#write a program to print following pattern
for i in range(1,5):
    for j in range(1,i+1):
          print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [112]:
#write a program to print stars in reverse order
for i in range(4,0,-1):
    for j in range(1,i+1):
        print(j,end=" ")
        
    print()

1 2 3 4
1 2 3
1 2
1

In [113]:
#write a program to print starts in 
for i in range(1,6):
    for i in range(1,i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [174]:
#print the patters
for i in range(5,0,-1):
    for j in range(5,i-1,-1):
        print(" ",end=" ")
    for k in range(1,i+1):
        print("*",end=" ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [175]:
for i in range(6,0,-1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [177]:
#print the patters
for i in range(6,0,-1):
    for j in range(1,i+1):
        print(" ",end=" ")
    for k in range(6,i-1,-1):
        print("*",end=" ")
    print()

            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *

In [121]:
#Accepet 10 numbers from user and diplay their average
x=10
s=0
for i in range(x):
    num=float(input("Enter any Number:"))
    s=s+num
print(s/x)

Enter any Number: 2
Enter any Number: 2
Enter any Number: 2.1
Enter any Number: 13
Enter any Number: 1.63
Enter any Number: 1.5
Enter any Number: 6.8
Enter any Number: 9.4
Enter any Number: 31.2
Enter any Number: 4

7.3629999999999995

In [191]:
#write a program t display sum of odd numbers and sum of even number
#that are fall between 12 and 37(including both numbers)
se=0
so=0
for num in range(12,38):
    if num%2==0:
        se=se+num
    else:
        so=so+num
print("is Sum of se and so",se+so)
print("sum of even numbers:",se)   
print("sum of odd numbers:",so)

is Sum of se and so 637
sum of even numbers: 312
sum of odd numbers: 325

In [4]:
#write a program to display all the numbers 
#which are divisible by 11 but not by 2 between 100 and 500
for num in range(100,500):
    if num%11==0 and num%2!=0:
        print(num,end=" ")

121 143 165 187 209 231 253 275 297 319 341 363 385 407 429 451 473 495

In [8]:
#how many times the loop will execute:
c=0
while c<20:
    c+=2
    print(c,end=" ")

2 4 6 8 10 12 14 16 18 20