In [32]:
#convert hexadecimal into decimal number
hexa_value=input("enter any value:").strip().upper()
def hexa_to_decimal(hexvalue):
    conversion_table={'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,
                      '9':9,'a':10,'b':11,'c':12,'d':13,'e':14,'f':15}
    position=len(hexvalue)-1
    decimal_number=0
    
    for x in hexvalue:
        decimal_number=decimal_number+conversion_table[x]*pow(16,position)
        position=position-1
        
        return decimal_number

enter any value: 2a8

In [33]:

output=hexa_to_decimal(hexa_value)
print('decimal value:',output)

decimal value: 512

In [17]:
#convert hexadecimal into decimal number
output=int(hexa_value,16)
print('decimal:',output)

decimal: 680

In [26]:
##convert decimal number into octal number
decimal_number=int(input("enter any number:"))
def decimal_to_octal(num):
    octal_value=''
    while num>0:
        remainder=num%8
        octal_value=octal_value+str(remainder)
        num=num//8
    return octal_value[::-1]

enter any number: 355

In [27]:
output=decimal_to_octal(decimal_number)
print ('octal value:',output)

octal value: 543

In [34]:
##convert decimal number into octal number
output=oct(decimal_number)
print ('octal:',output[2:])

octal: 543

In [36]:
##convert decimal number into octal number
output=format(decimal_number,'o')
print ('octal:',output)

octal: 543

In [41]:
#convert octal to decimal
octal_value=int(input("Enter only octal value-only allowed is 0s-7:"))
def octal_to_decimal(octalvalue):
    position=0
    decimal_number=0

    while octalvalue!=0:
        decimal=octalvalue%10
        decimal_number=decimal_number+decimal*pow(8,position)
        octalvalue=octalvalue//10
        position=position+1
    return decimal_number

Enter only octal value-only allowed is 0s-7: 543

In [42]:
output=octal_to_decimal(octal_value)
print('decimal:',output)

decimal: 355

In [44]:
##convert octal  into decimal number
octal_value=input("enter any octal value:")
output=int(octal_value,8)
print('decimal value:',output)

enter any octal value: 543

decimal value: 355

In [46]:
#write a program to accept a number from 1 to 12 and display name of the month and 
#days in that month like 1 for jan and num of days of 31 and so on
num=int(input("Enter any number between 1 to 12:"))
if num==1:
    print("jan")
elif num==2:
    print("feb")
elif num==3:
    print("mar")
elif num==4:
    print("April")
elif num==5:
    print("may")
elif num==6:
    print("june")
elif num==7:
    print("july")
elif num==8:
    print("august")
elif num==9:
    print("sep")
elif num==10:
    print("oct")
elif num==11:
    print("nov")
elif num==212:
    print("dec")
else:
    print("Please Enter 1 to 12 numbers")

Enter any number between 1 to 12: 5

may

In [47]:
#write the output of the following
if True:
    print(101)
else:
    print(202)

101