In [8]:
for i in range(4):
    for j in range(4-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    for j in range(2*(4-i-1)):
        print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    print()
for i in range(8,0,-1):
    for j in range(8-i):
        print(" ",end="")
    for j in range(i):
        print("* ",end="")
    print()

   *       *
  * *     * *
 * * *   * * *
* * * * * * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [17]:
num=int(input("Enter number of columns:"))
n=num//2
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    for j in range(2*(n-i-1)):
        print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    print()
for i in range(num,0,-1):
    for j in range(num-i):
        print(" ",end="")
    for j in range(i):
        print("* ",end="")
    print()

Enter number of columns: 6

  *     *
 * *   * *
* * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [27]:
num=int(input("Enter number of columns:"))
n=num//2
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    if num%2==0:
        for j in range(2*(n-i-1)):
            print(" ",end="")
    else:
        for j in range(2*(n-i-1)+1):
            print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    print()
for i in range(num,0,-1):
    for j in range(num-i):
        print(" ",end="")
    for j in range(i):
        print("* ",end="")
    print()

Enter number of columns: 11

    *          *
   * *        * *
  * * *      * * *
 * * * *    * * * *
* * * * *  * * * * *
* * * * * * * * * * *
 * * * * * * * * * *
  * * * * * * * * *
   * * * * * * * *
    * * * * * * *
     * * * * * *
      * * * * *
       * * * *
        * * *
         * *
          *

In [43]:
num=int(input("Enter the number:"))
msg=input("Enter any msg:")
l=len(msg)
n=num//2
for i in range(n):
    print(" "*(n-i-1)+"* "*(i+1),end="")
    if num%2==0:
        for j in range(2*(n-i-1)):
            print(" ",end="")
    else:
        for j in range(2*(n-i-1)+1):
            print(" ",end="")
    for j in range(i+1):
        print("* ",end="")
    print()
print("* "*((num-1)//2)+ "".join(msg)+ " *"*((num-1)//2) )
for i in range(num,0,-1):
    print(" "*(num-i)+"* "*(i))

Enter the number: 8
Enter any msg: anju

   *       *
  * *     * *
 * * *   * * *
* * * * * * * *
* * * anju * * *
* * * * * * * *
 * * * * * * *
  * * * * * *
   * * * * *
    * * * *
     * * *
      * *
       *

In [45]:
num=int(input("Enter the no.of rows:"))
for row in range(num):
    val=row+1
    dec=num-1
    for col in range(row+1):
        print(val,end=" ")
        val=val+dec
        dec=dec-1
    print()

Enter the no.of rows: 5

1
2 6
3 7 10
4 8 11 13
5 9 12 14 15

In [46]:
num=int(input("Enter the no.of rows:"))
for row in range(num):
    val=row+1
    dec=num-1
    for col in range(row+1):
        print(format(val,"<4"),end=" ")
        val=val+dec
        dec=dec-1
    print()

Enter the no.of rows: 5

1
2    6
3    7    10
4    8    11   13
5    9    12   14   15

In [47]:
n=int(input("Enter the number of rows:"))
for i in range(n):
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the number of rows: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [48]:
n=int(input("Enter number of rows:"))
for i in range(n):
    for j in range(i,-1,-1):
        print(j+1,end=" ")
    print()

Enter number of rows: 5

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [49]:
n=int(input("Enter number of rows:"))
for i in range(n):
    for j in range(i+1):
        print(i+1,end=" ")
    print()

Enter number of rows: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5