In [10]:
n1=input("Enter a str value:")
n2=input("Enter a str1 value:")
S=n1+n2
print (int(S)+5)

Enter a str value: 2
Enter a str1 value: 3

28

In [12]:
n1=int(input("Enter the numbers:"))
equation=((n1)**2-1)
print(equation)

Enter the numbers: 7

48

In [22]:
i=6
while i<10:
    cube=i**3+i
    print(i,':',cube)
    i=i+1

6 : 222
7 : 350
8 : 520
9 : 738

In [35]:
n=2
n1=6
j=2
while n<n1:
    solution=n**j
    print(solution)
    n=n+1
    j=j+1

4
27
256
3125

In [36]:
for i in range(5):
    for j in range(5):
        if j==2 and(j>1 and j<3) or (j==1 and i==1) or i==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for row in range(7):
    for col in range(3):
        if (row==4 or col==0) or (row==5 and  col!=1) or row==0 or row==6:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  * *
    *
    *
* * * * *
* * *
*
*
*
* * *
*   *
* * *

In [37]:
for i in range(5):
    for j in range(5):
        if j==2 and(j>1 and j<3) or (j==1 and i==1) or i==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for row in range(7):
    for col in range(5):
        if (col<4 and row==0) or col==3 or (row==1 and col==0) or (row==4 and col==2) or row==4 and col==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  * *
    *
    *
* * * * *
* * * *
*     *
      *
      *
    * * *
      *
      *

In [38]:
for i in range(5):
    for j in range(5):
        if j==2 and(j>1 and j<3) or (j==1 and i==1) or i==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for row in range(9):
    for col in range(4):
        if (row!=4 and col==0 and row!=0 and row!=8)  or (col==3 and  row!=0 and row!=4 and row!=8) or (row==0 and 0<col<3) or (row==4 and 0<col<3) or (row==8 and 0<col<3):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  * *
    *
    *
* * * * *
  * *
*     *
*     *
*     *
  * *
*     *
*     *
*     *
  * *

In [39]:
for i in range(5):
    for j in range(5):
        if j==2 and(j>1 and j<3) or (j==1 and i==1) or i==4:
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for row in range(8):
    for col in range(4):
        if (0<row<7 and col==3) or (0<col<3 and  row==0) or (row==3 and col>0) or (row==7 and col<3) or (col==0 and 0<row<3):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  * *
    *
    *
* * * * *
  * *
*     *
*     *
  * * *
      *
      *
      *
* * *

In [40]:
i=1
j==3
for row in range(5):
    for col in range(4):
        if (row==0 and col<3) or row==4 or (row==1 and col==3) or (row==2 and col==2) or ( row==3 and col==1):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()
for row in range(7):
    for col in range(5):
        if (0<col<4 and row==0) or (col==0 and  0<row<6) or (row==6 and 0<col<4) or (col==4 and 0<row<6):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

* * *
      *
    *
  *
* * * *
  * * *
*       *
*       *
*       *
*       *
*       *
  * * *