In [16]:
l=[]
i=1
while(i<10):
    num=int(input("enter  any number:"))
    l.append(num
            )
    i=i+1
l.sort()

print("the largest number is:", l[-1])
print("the smallest number is:",l[0])

enter  any number: 12
enter  any number: 78
enter  any number: 96
enter  any number: 48
enter  any number: 213
enter  any number: 648
enter  any number: 224
enter  any number: 559
enter  any number: 695

the largest number is: 695
the smallest number is: 12

In [35]:
#write a program to display sum of odd amd even numbers seperated 
#that are fall between two numbers accepted from the user(including both numbers)
#using while loop
num1=int(input("enter any number:"))
num2=int(input("enter any number:"))
sum1=0
sum2=0
while(num1<=num2):
    if num1%2==0:
        sum1=sum1+num1
        num1=num1+1
    else:
        sum2=sum2+num1
        num1=num1+1

print(sum1)
print(sum2)

enter any number: 1
enter any number: 10

30
25

In [38]:
num1=int(input("enter any number:"))
num2=int(input("enter any number:"))
sum1=0
sum2=0
if num1<num2:
    while(num1<=num2):
        if num1%2==0:
            sum1=sum1+num1
            num1=num1+1
        else:
            sum2=sum2+num1
            num1=num1+1
else:
    while(num2<=num1):
        if num2%2==0:
            sum1=sum1+num2
            num2=num2+1
        else:
            sum2=sum2+num2
            num2=num2+1
        

print(sum1)
print(sum2)

enter any number: 16
enter any number: 12

42
28

In [4]:
#write a program to display all the numbers
#which are divisible by 13 but not by 03 between 100 and 500.(exclusive both numbers)
num=13
i=101
while(i<500):
    if i%num==0 and i%3!=0:
      print(i,end=",")
    i=i+1

104,130,143,169,182,208,221,247,260,286,299,325,338,364,377,403,416,442,455,481,494,

In [17]:
num=int(input("enter any number:"))
s='2'
i=0
while(i<num):
    print(s,end=" ")
    s=s+'2'
    i=i+1

enter any number: 20

2 22 222 2222 22222 222222 2222222 22222222 222222222 2222222222 22222222222 222222222222 2222222222222 22222222222222 222222222222222 2222222222222222 22222222222222222 222222222222222222 2222222222222222222 22222222222222222222

In [13]:
#write a program to print all characters in the string "PYTHON'using while loop
str=input("enter any char:")
i=0
while(i<len(str)):
    print(str[i])
    i=i+1

enter any char: PHYTHON

P
H
Y
T
H
O
N

In [25]:
#write a program to print only odd numbers from the given list using while loop.
l=[23,45,32,25,46,33,71,90]
i=0
while(i<len(l)):
    if l[i]%2!=0:
        print(l[i])
    i=i+1

23
45
25
33
71

In [36]:
#write a program to print all the factors of the number using while loop
n=int(input("enter any number:"))
i=1
res=1
while(i<=n):
    if n%i==0:
        print(i)
    i=i+1

enter any number: 4

1
2
4

In [37]:
i=1
j=49
while(i<=49 and j>=1):
    print(i,"---",j)
    i=i+1
    j=j-1

1 --- 49
2 --- 48
3 --- 47
4 --- 46
5 --- 45
6 --- 44
7 --- 43
8 --- 42
9 --- 41
10 --- 40
11 --- 39
12 --- 38
13 --- 37
14 --- 36
15 --- 35
16 --- 34
17 --- 33
18 --- 32
19 --- 31
20 --- 30
21 --- 29
22 --- 28
23 --- 27
24 --- 26
25 --- 25
26 --- 24
27 --- 23
28 --- 22
29 --- 21
30 --- 20
31 --- 19
32 --- 18
33 --- 17
34 --- 16
35 --- 15
36 --- 14
37 --- 13
38 --- 12
39 --- 11
40 --- 10
41 --- 9
42 --- 8
43 --- 7
44 --- 6
45 --- 5
46 --- 4
47 --- 3
48 --- 2
49 --- 1

In [38]:
city=input("enter name of the city")
if city.lower()=="delhi":
    print("monument name is: Red Fort")
elif city.lower()=="agra":
    print("monument name is: Taj Mahal")
elif city.lower()=="jaipur":
    print("monument name is: jal mahal")
else:
    print("enter correct name of the city")

enter name of the city jaipur

monument name is: jal mahal