In [2]:
i=0
j=3
for row in range(4):
    for col in range(7):
        if row==3 or (row==1 and col==4) or (row==2 and col==5):
            print("*",end=" ")
        elif row==i and col==j:
            print("*",end=" ")
            i=i+1
            j=j-1
        else:
            print(" ",end=" ")
    print()

      *
    *   *
  *       *
* * * * * * *

In [6]:
num=int (input("Enter Number of Rows:"))
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end=" ")
    print()

Enter Number of Rows: 5

*
* *
* * *
* * * *

In [12]:
num=int(input("Enter number of Rows:"))
i=0
while i<=num:
    star=i+1
    while star>0:
        print("*",end="")
        star=star-1
    i=i+1
    print()

Enter number of Rows: 5

*
**
***
****
*****
******

In [16]:
for row in range(5):
    for col in range(5):
        if col+row==2 or col-row==2 or row-col==2 or (col==3 and row==3):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

    *
  *   *
*       *
  *   *
    *

In [19]:
for row in range(6):
    for col in range(7):
        if  (row==0 and col%3!=0) or (row==1 and col%3==0) or (row-col==2 )or (col+row==8):
            print("*",end=" ")
        else:
            print(" ",end=" ")
    print()

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

In [34]:
#Print numbers in square 
num= int(input("Enter The number of rows"))
n_list=[[0 for x in range(num)] for y in range(num)]
n=1
low=0
high=num-1
count=int((num+1)/2)
for i in range(count):
    for j in range(low,high+1):
        n_list[i][j]=n
        n=n+1
    for j in range(low+1,high+1):
        n_list[j][high]=n
        n=n+1
    for j in range(high-1,low-1,-1):
        n_list[high][j]
        n=n+1
    for j in range(high-1,low,-1):
        n_list[j][low]=n
        n=n+1
    low=low+1
    high=high-1
for i in range(num):
    for j in range(num):
        print(n_list[i][j],end="\t")
    print()

Enter The number of rows 5

1	2	3	4	5
16	17	18	19	6
15	24	25	20	7
14	0	0	21	8
0	0	0	0	9

In [36]:
num=int(input("Enter the number of the rows:"))
for i in range(1,num+1):
    for j in range(1,num-i+1):
        print(" ",end=" ")
    for j in range(i,0,-1):
        print(j,end=" ")
    for j in range(2,i+1):
        print(j,end=" ")
    print()

Enter the number of the rows: 5

        1
      2 1 2
    3 2 1 2 3
  4 3 2 1 2 3 4
5 4 3 2 1 2 3 4 5

In [39]:
num=int(input("Enter the number of the rows:"))
n=1
for i in range(num):
    for j in range(i+1):
        print(format(n,"<3"),end=" ")
        n=n+1
    print()

Enter the number of the rows: 5

1
2   3
4   5   6
7   8   9   10
11  12  13  14  15

In [41]:
num=int(input("Enter the number of the rows:"))
for i in range(1,num+1):
    for j in range(1,num-i+1):
        print(format(" ","<3"),end=" ")
    for j in range(i,0,-1):
        print(format(j,"<3"),end=" ")
    for j in range(2,i+1):
        print(format(j,"<3"),end=" ")
    print()

Enter the number of the rows: 11

                                        1
                                    2   1   2
                                3   2   1   2   3
                            4   3   2   1   2   3   4
                        5   4   3   2   1   2   3   4   5
                    6   5   4   3   2   1   2   3   4   5   6
                7   6   5   4   3   2   1   2   3   4   5   6   7
            8   7   6   5   4   3   2   1   2   3   4   5   6   7   8
        9   8   7   6   5   4   3   2   1   2   3   4   5   6   7   8   9
    10  9   8   7   6   5   4   3   2   1   2   3   4   5   6   7   8   9   10
11  10  9   8   7   6   5   4   3   2   1   2   3   4   5   6   7   8   9   10  11

In [45]:
num=int(input("Enter number of rows:"))
n=1
for i in range(num):
    for j in range(num-i-1):
        print(format(" ","<3"),end="")
    for j in range(i+1):
        print(format(n,"<6"),end="")
        n=n+1
    print()

Enter number of rows: 5

            1
         2     3
      4     5     6
   7     8     9     10
11    12    13    14    15